# Sweden_Insurance_Dataset

In [72]:
import pandas as pd
df = pd.read_excel("C:\\Users\\ekhapiy\\DS_for_Python\\Sample_1_Simple_Linear_Regression.xlsx")

In [73]:
df.head()

     X      Y
0  108  392.5
1   19   46.2
2   13   15.7
3  124  422.2
4   40  119.4

In [74]:
df.dtypes

X      int64
Y    float64
dtype: object

In [75]:
from sklearn.model_selection import train_test_split

In [76]:
X = df['X']
y = df['Y']

In [77]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [78]:
# Now we find out the mean of train_X and train_y
mean_train_x = X_train.mean()
mean_train_y = y_train.mean()

In [79]:
# Now I want to implement x- Xbar and y - Ybar

In [80]:
train_df = pd.DataFrame({'X': X_train, 'Y': y_train})

In [81]:
train_df['x-xbar'] = train_df['X'].apply(lambda x: x - mean_train_x)
train_df['y-ybar'] = train_df['Y'].apply(lambda y: y - mean_train_y)

In [82]:
train_df['product_x_y'] = train_df.apply(lambda r: r['x-xbar'] * r['y-ybar'], 
                                         axis = 1)

In [83]:
train_df['x_xbar_square'] = train_df['x-xbar'].apply(lambda x: x**2)

In [84]:
train_df.head()

     X      Y  x-xbar  y-ybar  product_x_y  x_xbar_square
52  13   31.9   -10.6  -70.23      744.438         112.36
19  23  113.0    -0.6   10.87       -6.522           0.36
60  14   95.5    -9.6   -6.63       63.648          92.16
14   7   48.8   -16.6  -53.33      885.278         275.56
23   3   13.2   -20.6  -88.93     1831.958         424.36

In [85]:
num = train_df['product_x_y'].sum()
deno = train_df['x_xbar_square'].sum()

In [86]:
b1 = num / deno

In [87]:
b0 = mean_train_y - b1 * mean_train_x

In [88]:
b1

3.3823969037768578

In [89]:
b0

22.305433070866144

In [90]:
test_df = pd.DataFrame({'X': X_test, 'y_actual': y_test})

In [91]:
test_df['y_predicted'] = test_df['X'].apply(lambda x: b0 + x*b1)

In [92]:
test_df.head()

     X  y_actual  y_predicted
16  24     134.9   103.482959
53  15      32.1    73.041387
2   13      15.7    66.276593
41  60     202.4   225.249247
46  11      21.3    59.511799

In [93]:
# Calculate performance of my OLS
from sklearn.metrics import mean_absolute_error
mean_absolute_error(test_df['y_actual'], test_df['y_predicted'])

29.085177242349264

In [94]:
from sklearn.metrics import mean_squared_error
from math import sqrt
sqrt(mean_squared_error(test_df['y_actual'], test_df['y_predicted']))

32.18015575811261

In [95]:
# Sklearn liner_regression_implementation
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
#X_train = X_train.values.reshape(-1,1)
#y_train = y_train.values.reshape(-1,1)

lr.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [97]:
X_test = X_test.values.reshape(-1,1)

In [98]:
preds = lr.predict(X_test)

In [99]:
mean_absolute_error(y_test, preds)

29.085177242349275

In [100]:
test_df.to_csv('results.csv')